body
{
  direction: rtl;
  font-family: 'Lateef', cursive;
  font-size: 2rem;
}




/* start header */
header
{
  overflow: hidden;
}
.iconheader
{
  padding: 15px;
  background-color: black;
  color: wheat !important;
}
r_social i
{
  font-size: 20px;
  padding: 0px 5px;
  color: black;
}


/* nav part */

.rightMenu
{
  text-align: right;
    position: fixed;
    top: 0;
    right:-250px;
    width: 250px;
    height: 100vh;
    z-index: 9999999999999;
}
.rightMenu a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}
.rightMenu a:hover{
    color: #ff655c;
}
.rightMenu li {
    padding: 20px 0;
    list-style: none;
    padding-top: 500px;
  	opacity: 0;
}
.leftMenu{
    position: fixed;
   	top: 0;
    right: 0;
	  width: 60px;
  	height: 11vh;
    z-index: 55555555;
      background-color:black!important;
}

.leftMenu i {
    font-size: 30px;
    color: white !important;
}

#triggle{
    cursor: pointer;
    font-style: normal;
}

.open::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f039";
}
.close::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f00d";
}





/* header site of day */

.siteofday
{
  height: 100vh;
  position: relative;
  text-align: center;
  background-image: url(../images/back.jpg);
}
.siteofday .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}
.siteofday .overlay:hover
{
  background-color: rgba(0, 0, 0, 0.1);
  color: black !important;
}
.siteday_info h2
{
  font-size: 30px ;
  font-weight: 900;
  color: black;
}

/* header progree  part */

.progress {
  width: 100px;
  height: 100px;
  background: none;
  position: relative;
}
.pro_bac
{
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}
div.h4 {
  line-height: 1rem;
}


/* signup  and signin part */


.signup
{
  position: fixed;
  display: none;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999998888;
  
}
.myclose
{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.signupdata
{
  display: flex;
  height: 100%;
}
.signupcon
{
  position: absolute;
  align-content: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
}
.signin
{
  position: fixed;
  display: none;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999998888;
  
}
.myclosesignin
{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.signindata
{
  display: flex;
  height: 100%;
}
.signincon
{
  position: absolute;
  align-content: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
}



/* end header */



/* common style for pages  */

.site-cont
{
  background-color: rgb(221, 221, 221);
  padding-top: 8rem;
}
.site-of-the-day header 
{
  font-size: 3rem;
}
.myheaderdata
{
  /* background-color: rgba(0, 0, 0, 0.3); */
  padding: 0px 10px;
  color: rgb(23, 162, 184);
  
}
.myheaderdata p
{
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.myheaderdata a
{
  text-decoration:none;
  color: rgb(23, 162, 184);
}
.myheaderdata a :hover
{
  color: #ff655c;
}

.line
{
  width: 60px;
  height: 1px;
  background-color:  #666;
  transition: .5s;
}
.site1 
{
  overflow: hidden;
}
.sites:hover .line
{
  width: 100px;
}
.card 
{
  overflow: hidden !important;
}
.over-lay
  {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10; 
    top: 0;  
    opacity: 0;
    transition: 1s;
    overflow: auto;
  }
  .cont 
  {
    position: relative;
    overflow: hidden;
  }
  .likes
  {
    width: 70px;
    height: 32px;
    border: 1px solid rgba(255,255,255,0.5);
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .likes i 
  {
   font-size: 1.2rem;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   position: absolute;
   color: white;
  }
  .likes:hover i
  {
    color: #ff655c;
  }
  .collect
{
    width: 80px;
    height: 32px;
    border: 1px solid rgba(255,255,255,0.5);
    position: absolute;
    position: relative;
    top: 5px;
    right: 90px;
}
.collect p
{
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  color: white;
}
.collect:hover p 
{
  color: #ff655c;
}
.go 
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.5);
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.go i 
{
  font-size: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  color: white;
}
.go:hover i 
{
  color: #ff655c;
}
  .site1:hover .over-lay
  {
   opacity: 1;
  }
  .cont img
  {
    transition: all 1s ease-in-out;
  }
  .site1:hover .cont img
  {
    transform: scale(1.1);
    transition: ease 1s
  }
 .card-body 
{
  text-align: right;
}
.circle
{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#photo1, #photo2 ,photo3
{
  background-image: url(../images/png-transparent-bird-of-prey-logo-beak-desktop-bird-animals-computer-logo.png);
  background-position: center center;
  background-size: 100%;
}

#photo2
{
  background-image: url(../images/png-transparent-phoenix-logo-flame-football-s-daquan-leaf-flower-symbol.png);

}
#photo3
{
  background-image: url(../images/pic01.jpg);
}
.who p 
{
  font-size:1.4rem
 }
 /* end of common style*/
  

  /* start nominess */
.nominess
{
  background-color: #f4f7f6;
}
.vote-now
{
  margin-top:  0;
}

.vote-now .site-cont
{
  background-color: rgb(221, 221, 221);
}

.vote-now header 
{
  font-size: 3rem;
}

.my-btn
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 1.4rem;
}

<<<<<<< HEAD

/********** css of the about page **********/

.about-head
{
 margin-top: 4rem;
 margin-bottom: 4rem;
 
}
.about-head hr
{
  
  width: 80px;
  height: 4px;
  text-align: left;
  margin-top: 4rem;
  margin-bottom: 3rem;
  background-color: #202121;
  border: none;
}
.about-head h1
{
  font-size: 40px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 3rem;
  line-height: 1.7;
  font-family: 'Lemonada', cursive;
  text-align: right;
}
.about-head p
{
  text-align: right;
  font-weight: 150;
  margin-top: 1rem;
  margin-bottom: 7rem;
}

@media (max-width: 700px)
{ 
  .about-head h1
  {
    font-size: 26px; 
    text-align: center;
  } 
  .about-head p
  {
    font-size: 20px; 
    text-align: center;
  }  
}



/* overlay*/


.overlay-section
{
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-image: url(../images/certificate.jpg);
  background-size: cover;
  background-position:center center ;
  background-attachment: fixed;
  position: relative;
}
.overlay-section .overlay
{
  position: absolute;
  top: 0;
  left: 0px;
  background-color: #17a3b898;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}


/* developers sections*/
  

.developers
{
  padding-top:2.5rem ;
  padding-bottom:4rem ;
  background-color: rgb(241, 241, 241);
}
.devolper-header
{
  position: relative;
}
.devolper-header h1
{
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Lemonada', cursive;
  margin-bottom: 25px;
}
.devolper-header p
{
  font-size: 1rem;
  font-weight: 50;
  font-family: 'Lemonada', cursive;
 
}
.header-line
{
  position: absolute;
  left: 50%;
  top: 11rem;
  transform: translate(-50%);
  width: 5%;
  height: 5px;
  background-color: #17a2b8;
  font-family: 'Lemonada', cursive;
}

.box-shadow
{
  margin-top: 5rem;
  padding: 3rem ;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: right;
  font-family: 'Lemonada', cursive;
}
.about-img img
{
  margin-left: 1rem;
}
.title-s
{
  font-weight: 300;
  color: #1e1e1e;
  font-size: 1rem;
  line-height: .5;
}
span
{
  font-size: .7rem;
}

/* books sections*/

.book-section
{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.book-box
{
  margin-top: 7rem;
  margin-bottom: 3rem;
  background-color: #fff;
  box-shadow: 0 13px 8px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.box-img img
{
  transition: 1s transform;
  overflow: hidden;
}
.box-img
{
  overflow: hidden;
}
.book-box:hover .box-img img
{
  transform: scale(1.3);
}
.header-line2
{
  position: absolute;
  left: 50%;
  top: 9rem;
  transform: translate(-50%);
  width: 5%;
  height: 5px;
  background-color: #17a2b8;
  font-family: 'Lemonada', cursive;
}

/*** end of the css of the about page ***/




/* footer part */
.myfootericon a
{
  padding: 0 10px;
}
.joinus
{
  font-size: 35px;
  color: black;
}
/*end  footer part */
||||||| 3e3d8cf
=======
/********** css of the about page **********/

.about-head
{
 margin-top: 4rem;
 margin-bottom: 4rem;
 
}
.about-head hr
{
  
  width: 80px;
  height: 4px;
  text-align: left;
  margin-top: 4rem;
  margin-bottom: 3rem;
  background-color: #202121;
  border: none;
}
.about-head h1
{
  font-size: 40px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 3rem;
  line-height: 1.7;
  font-family: 'Lemonada', cursive;
  text-align: right;
}
.about-head p
{
  text-align: right;
  font-weight: 150;
  margin-top: 1rem;
  margin-bottom: 7rem;
}

@media (max-width: 700px)
{ 
  .about-head h1
  {
    font-size: 26px; 
    text-align: center;
  } 
  .about-head p
  {
    font-size: 20px; 
    text-align: center;
  }  
}



/* overlay*/


.overlay-section
{
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-image: url(../images/certificate.jpg);
  background-size: cover;
  background-position:center center ;
  background-attachment: fixed;
  position: relative;
}
.overlay-section .overlay
{
  position: absolute;
  top: 0;
  left: 0px;
  background-color: #17a3b898;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}


/* developers sections*/
  

.developers
{
  padding-top:2.5rem ;
  padding-bottom:4rem ;
  background-color: rgb(241, 241, 241);
}
.devolper-header
{
  position: relative;
}
.devolper-header h1
{
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Lemonada', cursive;
  margin-bottom: 25px;
}
.devolper-header p
{
  font-size: 1rem;
  font-weight: 50;
  font-family: 'Lemonada', cursive;
 
}
.header-line
{
  position: absolute;
  left: 50%;
  top: 11rem;
  transform: translate(-50%);
  width: 5%;
  height: 5px;
  background-color: #17a2b8;
  font-family: 'Lemonada', cursive;
}

.box-shadow
{
  margin-top: 5rem;
  padding: 3rem ;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: right;
  font-family: 'Lemonada', cursive;
}
.about-img img
{
  margin-left: 1rem;
}
.title-s
{
  font-weight: 300;
  color: #1e1e1e;
  font-size: 1rem;
  line-height: .5;
}
span
{
  font-size: .7rem;
}

/* books sections*/

.book-section
{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.book-box
{
  margin-top: 7rem;
  margin-bottom: 3rem;
  background-color: #fff;
  box-shadow: 0 13px 8px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.box-img img
{
  transition: 1s transform;
  overflow: hidden;
}
.box-img
{
  overflow: hidden;
}
.book-box:hover .box-img img
{
  transform: scale(1.3);
}
.header-line2
{
  position: absolute;
  left: 50%;
  top: 9rem;
  transform: translate(-50%);
  width: 5%;
  height: 5px;
  background-color: #17a2b8;
  font-family: 'Lemonada', cursive;
}

/*** end of the css of the about page ***/
>>>>>>> 6d6b683f667b396c4e9db39e4646a9843215fd16
