

/*

 start styling header section
 
 */

.navbar-nav .nav-item a{
  color: #17a2b8 !important;
  font-size: 1.2rem;
}
.navbar-nav .nav-item .myactive{
  color: #fff !important;
}
.navbar-nav .nav-item a:hover{
  color: #fff !important;
}
.header-bac
{
  background-image: url(../images/back.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.overlay
{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: relative;
}
.overlay .data
{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.overlay .data h1{
  line-height: 88px;
  font-size: 4em;
  font-family: 'Playfair Display', serif;
  color: #fff;
}
.overlay .data p{
  line-height: 42.5px;
  font-size: 1.75em;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Playfair Display', serif;
}
.overlay .data button a{
  line-height: 45.5px;
  font-size: 1.35em;
  color: rgba(255, 255, 255, 0.85);
  padding: 5px 20px;
}
/*

 end styling header section
 
 */

 /* second section*/
 body
{
         font-family: "Scope One", serif;
         background-color: #FAFAFA;

}


.img-cont
{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid rgb(236, 231, 231) ;
    background-color: white;
}

.text p 
{
    color: #999999;
}

@media (min-width:750px) and (max-width:1200px) 
{
    .img-cont
    { width: 230px;
      height: 230px;
      border-radius: 50%;
     }

   
}
/* end of second section */

/* -----------------start of our blog--------------------------------- */
.card .card-info h5 a {
    color: #343a40;
    font-weight: 700;
    font-size: 1.25rem;
  }
  .card .card-info h6 a {
    color: #e65f78;
  }
  .card .card-info .read {
    color: #6c757d;
    font-weight: 700;
  }
  /* -----------------end of our blog--------------------------------- */

  /* -----------------start of Medhat section --------------------------------- */
 .third
 {
  background-color: #3498db;
    color: #dce8f0;
    padding-top: 4rem;
    padding-bottom: 4rem;
 }
.text .mm
 {
  color:#3498db ;
 }
  /* -----------------End of Medhat section--------------------------------- */

   /* -----------------start of ahmed section --------------------------------- */
   
  
#footer{
  padding: 5rem;
}
.list-ico i {
  color: #0078ff;
  margin: 10px 10px;
}

.list-ico li {

  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.socials .social-counter{
  width: 40px;
  height: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 0 18px 0 0;
  box-shadow: 0 0 0 3px #999999;;
  transition: all 500ms ease;
}

.socials li {

  list-style: none;
  padding-bottom: 10px;
}
 
.socials {
  padding: 7rem 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}


.socials .social-counter:hover {
      background-color: #0078ff;
      color: #fff;
      box-shadow: 0 0 0 3px #cde1f8;
      transition: all 500ms ease;
  }    

.social-counter a {

  color: #1e1e1e;
  font-size: 1.5rem;
}   

.credits{

    color: #999;
}

.credits a {
  color: #999;
  text-decoration: none;
}